<div class="zonaImpresion">
    <div class="prDatosBasicos prRecuadro">
        <h3>{ p.nombre }</h3>
        <span><b>Categoría:</b> { p.categoria }</span>
        <span><b>Raza:</b> { p.raza | l }</span>
        <span><b>Nivel:</b> { p.nivel }</span>
        <span><b>Sexo:</b> { p.sexo | l }</span>
    </div>
    <div class="prCaracteristicas prRecuadro">
        <h3>Características</h3>
        <span><b>AGI</b><div class="prCaracValor">{ pç0 }</div><div class="prCaracBono">{ pÇ0 }</div></span>
        <span><b>CON</b><div class="prCaracValor">{ pç1 }</div><div class="prCaracBono">{ pÇ1 }</div></span>
        <span><b>DES</b><div class="prCaracValor">{ pç2 }</div><div class="prCaracBono">{ pÇ2 }</div></span>
        <span><b>FUE</b><div class="prCaracValor">{ pç3 }</div><div class="prCaracBono">{ pÇ3 }</div></span>
        <span><b>INT</b><div class="prCaracValor">{ pç4 }</div><div class="prCaracBono">{ pÇ4 }</div></span>
        <span><b>PER</b><div class="prCaracValor">{ pç5 }</div><div class="prCaracBono">{ pÇ5 }</div></span>
        <span><b>POD</b><div class="prCaracValor">{ pç6 }</div><div class="prCaracBono">{ pÇ6 }</div></span>
        <span><b>VOL</b><div class="prCaracValor">{ pç7 }</div><div class="prCaracBono">{ pÇ7 }</div></span>
    </div>
    <div class="prCaracteristicasSecundarias prRecuadro">
        <span><b>Cansancio</b><div class="prCaracValor">{ p.puntosCansancio }</div></span>
        <span><b>Movimiento</b><div class="prCaracValor">{ p.tipoMovimiento }</div></span>
        <span><b>Regeneración</b><div class="prCaracValor">{ p.regeneracion }</div></span>
        <span><b>Apariencia</b><div class="prCaracValor">{ p.apariencia }</div></span>
        <span><b>Tamaño</b><div class="prCaracValor">{ p.tamaño }</div></span>
    </div>
    <div class="prPV prRecuadro">
        <span><b>PV</b><div class="prCaracValor">{ p.pv }</div></span>
        <span><b>Múltiplos de vida</b><div class="prCaracValor">{ p.multiplosDeVida }</div></span>
    </div>
    <div class="prVentajas prRecuadro">
        <h3>Ventajas</h3>
        <section rv-each-ventaja="p.ventajas">
            <b>{ ventaja }</b>
        </section>
        <h3>Desventajas</h3>
        <section rv-each-desventaja="p.desventajas">
            <b>{ desventaja }</b>
        </section>
    </div>
    <div class="prHabilidadesSecundarias prRecuadro">
        <h3>Atléticas</h3>
        <section rv-each-habilidad="p.habAtleticas">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad*valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
        <h3>Vigor</h3>
        <section rv-each-habilidad="p.habVigor">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad.valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
        <h3>Perceptivas</h3>
        <section rv-each-habilidad="p.habPerceptivas">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad.valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
        <h3>Intelectuales</h3>
        <section rv-each-habilidad="p.habIntelectuales">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad.valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
        <h3>Sociales</h3>
        <section rv-each-habilidad="p.habSociales">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad.valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
        <h3>Subterfugio</h3>
        <section rv-each-habilidad="p.habSubterfugio">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad.valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
        <h3>Creativas</h3>
        <section rv-each-habilidad="p.haCreativas">
            <b>{ habilidad.getNombre | l }</b>
            <section rv-if="habilidad.esUsable">
                <div class="prValorBase">{ habilidad.valorBaseActual }</div><div class="prValorBonos">{ habilidad.valorBonosActual | modBonito }</div> = <div class="prCaracValor">{ habilidad.valorFinalActual }</div>
            </section>
            <section rv-unless="habilidad.esUsable">
                <div class="prValorBase">Sin rangos</div>
            </section>
        </section>
    </div>
</div>
<div class="zonaImpresion">
    <div class="prDatosPersonales prRecuadro">
        <span><b>Peso:</b> { p.peso }</span>
        <span><b>Altura:</b> { p.altura }</span>
        <span><b>Origen:</b> { p.origen | l }</span>
        <span><b>Idiomas:</b><div class="prIdioma" rv-each-idioma="p.idiomas">{ idioma | l}</div></span>
        <span><b>Etnia:</b> { p.etnia | l }</span>
        <span><b>Clase social:</b> { p.claseSocial | l }</span>
        <span><b>Descripción:</b> { p.descripcion }</span>
        <span><b>Trasfondo:</b> { p.trasfondo }</span>
    </div>
</div>
